project/project/
target/
SbtWork/
MacrosJs/
MacrosJvm/
GraphicJvm/
GraphicJs/
CoreJs/
CoreJvm/
StratJvm/
StratJs/
JsPlay/
FxPlay/
DocProj/
DevData/
bin/
LearnScala.zip
LearnScala.tar.gz
out/
.idea*/
HomeLink/