 <web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0"
  metadata-complete="true">  
     <display-name>Periculo Servlet</display-name>
    <servlet>  
    <servlet-name>PeriServe</servlet-name>
    <servlet-class>ostrat.pDev.PeriServe</servlet-class>
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>PeriServe</servlet-name>
    <url-pattern>/</url-pattern>  
    </servlet-mapping>  
      
</web-app>